
@charset "UTF-8";


* {

margin: 0;

padding: 0;

box-sizing: border-box;

}

body {
	width: 100%;
}


h4 {
	 font-size: 30px;
	 color: black;
}
#header{

display: flex;

align-items: center;

justify-content: space-between;

padding: 20px 80px;

background: cyan;

box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

z-index: 999;

position: fixed;

left: 0;

width: 100%;

}



#navbar{

display: flex;

align-items: center;

justify-content: center;

}

#navbar{

display: flex;

align-items: center;

justify-content: center;

}

#navbar li img {

width: 38px;

height: 37px;

margin-left: -10px;

transition: 0.3s ease;

}

li:hover img {

transform: scale(1.2);

}

#navbar li{

list-style: none;

padding: 0 20px;

position: relative;


}

#navbar li a {

text-decoration: none;

font-size: 19px;

font-weight: 600;

color: black;

transition: 0.3s ease;

}


#navbar li a:hover,

#navbar li a.active {

color: seagreen;

}

#navbar li a.active::after,

#navbar li a:hover::after{

width: 30%;

height: 2px;

background: seagreen;

position: absolute;

bottom: -4px;

left: 20px;

transition: 0.3s ease;

}


/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }
  
  .logo {
  margin: 0;
}
  
  .navigation  {
    width: 100%;
    justify-content: space-around;
  }
}


/* ****** ****** */
@media all and (max-width: 600px) {
 
  .logo {
    margin: .25em 0;
    align-self: left; /* align the logo to the left side of 'flex-container' */
}
  
  .navigation {
    flex-direction: column;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

li > form > input{
	text-align: center;
    white-space: normal;
    padding: 8px;
    margin: 7px;
}

.my-button{
   border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 0.8em;
  height: 40px; /* increase height */
  width: 120px;
}

.my-button:hover {
 background-position: right center;
 background-size: 200% auto;
 -webkit-animation: pulse 2s infinite;
 animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
 0% {
  box-shadow: 0 0 0 0 #05bada66;
 }

 70% {
  box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
 }

 100% {
  box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
 }
}


image-container {
  width: 100%;
  position: absolute;
  height: 50;
  background-size: cover;
  background-position: top 25% right 0;
  display: inline-block;
  vertical-align: top;
}

.image-container img {
width: 100%;
height: 50;

}

.image-text {
  position: absolute;
  color: white;
  text-align: left; 
  top: 50%;
  left: 50%;
}

.image-text h4 {
  padding-bottom: 15px;
}



.cta {
 position: relative;
 margin: auto;
 padding: 12px 18px;
 transition: all 0.2s ease;
 border: none;
 background: none;
}

.cta:before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 display: block;
 border-radius: 50px;
 background: #b1dae7;
 width: 45px;
 height: 45px;
 transition: all 0.3s ease;
}

.cta span {
 position: relative;
 font-family: "Ubuntu", sans-serif;
 font-size: 18px;
 font-weight: 700;
 letter-spacing: 0.05em;
 color: #234567;
}

.cta svg {
 position: relative;
 top: 0;
 margin-left: 10px;
 fill: none;
 stroke-linecap: round;
 stroke-linejoin: round;
 stroke: #234567;
 stroke-width: 2;
 transform: translateX(-5px);
 transition: all 0.3s ease;
}

.cta:hover:before {
 width: 100%;
 background: #b1dae7;
}

.cta:hover svg {
 transform: translateX(0);
}

.cta:active {
 transform: scale(0.95);
}


.btn:hover {
  color: #1e1e2b;
  transition-delay: .5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: .4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}



.products{
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
	
}

.product-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-left: 3rem;
   margin-right: 3rem;
}

.productrc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid aqua;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 10px;
  transition: 0.2s ease;
  position: relative;
   flex-basis: 25%; /* set the width of each item to 30% */
 
}

.card:hover {
  transform: translateY(-10px);
}

.card-img-top {
	margin-top: 15px;
	margin-left: 25px;
  height: 370px;
 border-radius: 20px;
  
}

.card-body {
  padding: 10px;
  position: relative;
}

.card-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.card-text1 {
  margin: 5px 0;
  font-size: 18px;
}

.card-text2 {
  margin: 5px 0;
  font-size: 16px;
}

.card-text3 {
  margin: 5px 0;
  font-size: 14px;
}

.card-text4 {
  margin: 5px 0;
  font-size: 14px;
}

.shop-now-button {
  width: 100px;
  height: 30px;
  background-color: #3498DB;
  color: white;
  font-size: 16px;
  position: absolute;
  right: 30px;
  bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid powderblue;
}
.shop-now-button:hover {
    background-color: #4CAF50;
}

@media screen and (max-width: 992px) {
  .card {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 576px) {
  .card {
    width: 90%;
  }
}

  
