@charset "UTF-8";


* {

margin: 0;

padding: 0;

box-sizing: border-box;

}



#header{

display: flex;

align-items: center;

justify-content: space-between;

padding: 20px 80px;

background: cyan;

box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

z-index: 999;

position: fixed;

left: 0;

width: 100%;

}



#navbar{

display: flex;

align-items: center;

justify-content: center;

}

#navbar{

display: flex;

align-items: center;

justify-content: center;

}

#navbar li img {

width: 38px;

height: 37px;

margin-left: -10px;

transition: 0.3s ease;

}

li:hover img {

transform: scale(1.2);

}

#navbar li{

list-style: none;

padding: 0 20px;

position: relative;


}

#navbar li a {

text-decoration: none;

font-size: 19px;

font-weight: 600;

color: black;

transition: 0.3s ease;

}


#navbar li a:hover,

#navbar li a.active {

color: seagreen;

}

#navbar li a.active::after,

#navbar li a:hover::after{

width: 30%;

height: 2px;

background: seagreen;

position: absolute;

bottom: -4px;

left: 20px;

transition: 0.3s ease;

}



.form2 {

position: absolute;

top: calc(50% + 110px);

left: 50%;

background-color: #fff;

transform: translate(-50%, -50%);

display: block;

padding: 2rem;

max-width: 600px;

border-radius: 0.5rem;

box-shadow: 0 10px 15px -3px rgba(0, 0, 128, 0.2), 0 4px 6px -2px rgba(0, 0, 128, 0.1);

}


.form-title2 {

font-size: 2rem;

line-height: 1.75rem;

font-weight: 600;

text-align: center;

color: #000;

font-family: 'Arial', sans-serif;

padding-bottom: 3rem;

}


.input-container2 {

position: relative;

display: inline-block;

justify-content: space-between;

font-weight: bold;

width: 45%;

padding-left: 57px;

}



.input-container2 input {

outline: none;

border: 1px solid #e5e7eb;

margin: 16px 0;

background-color: #fff;

width: 100%;

padding: 0.75rem;

border-radius: 0.5rem;

font-size: 0.875rem;

line-height: 1.25rem;

box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

margin-top: 20px;

}



.submit2 {

display: block;

margin-left: 145px;

justify-content: center;

align-items: center;

height: 3rem;

font-size: 1rem;

width: 50%;

background-color: #000;

border-radius: 0.9em;

padding-top: 0.75rem;

padding-bottom: 0.75rem;

padding-left: 1.25rem;

padding-right: 1.25rem;

color: #ffffff;

transition: all ease-in-out 0.2s;

font-size: 0.875rem;

line-height: 1.25rem;

font-weight: 500;

text-transform: uppercase;

border: 1px solid #e5e7eb;

margin-top: 23px;

margin-bottom: -20px;

transition: 0.2s;

}

.submit2:hover {

background-color: #2F4F4F;

}



.form-link {

position: relative;

left: 173px;

font-size: 14px;

padding-top: 40px;

margin-bottom: 20px;

}


.image-container {

width: 100%;

height: 50;

}

.image-container img {

width: 100%;

height: 50;

}


.photo-selection {

display: flex;

justify-content: center;

}

.photo-label {

font-size: 16px;

}


.photo-selection p {

margin-left: 80px;

margin-top: 20px;

}